.pet__activity {
  margin-top: 3rem;
}
.pet__activity-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5rem;
}
.pet__activity-reight > p {
  margin: 1.6rem 0 2.5rem;
}
.activity__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}
.activity__card {
  background: var(--color-bg1);
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}
.activity__card:hover {
  background: var(--color-bg2);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.activity__icon {
  background: var(--color-danger);
  padding: 0.6rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.activity__card:nth-child(2) .activity__icon {
  background: var(--color-success);
}
.activity__card:nth-child(3) .activity__icon {
  background: var(--color-primary);
}
.activity__card p {
  margin-top: 1rem;
}

.team {
  background: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.team__member {
  background: var(--color-bg2);
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.team__member:hover {
  background: transparent;
  border-color: var(--color-primary);
}

.team__member-image img {
  filter: saturate(0);
}

.team__member:hover img {
  filter: saturate(1);
}

.team__member-info * {
  text-align: center;
  margin-top: 1.4rem;
}

.team__member-info p {
  color: var(--color-light);
}

.team__member-socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.team__member:hover .team__member-socials {
  right: 0;
}

.team__member-socials a {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .pet__activity {
    margin-top: 2rem;
  }

  .pet__activity-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .pet__activity-left {
    width: 80%;
    margin: 0 auto;
  }

  .team__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .team__member {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .activity__cards {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .team__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .team__member {
    padding: 0;
  }
  .team__member p {
    margin-bottom: 1.5rem;
  }
}
